body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans';
  background: #2E2D56;
  background: radial-gradient(circle at bottom, #6d6da2, #2E2D56);
}

.hidden {
  display: none !important;
}

.logo {
  display: inline-block;
  font-family: 'Zilla Slab Highlight';
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 32px;
  background-color: white;
  color: black;
}

.logo-white {
  background-color: black;
  color: white;
}

.top-header {
  padding: 50px 150px 0 50px;
  display: flex;
  text-align: left;
}

.top-header .moz-logo {
  width: 113px;
}

.top-header a,
.top-header a:hover {
  flex: 1;
  text-decoration: none;
  box-shadow: none;
}

@media all and (max-width: 768px) {
  .top-header {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.top-header .logo-subtext {
  font-family: 'Zilla Slab Highlight';
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  color: white;
  display: inline-block;
}

header {
  background: url('assets/img-header.svg');
  background-size: cover;
  background-position: inherit;
  text-align: center;
}

@media all and (max-width: 768px) {
  header {
    background-position: center center;
  }
}

header h1 {
  font-size: 46px;
  font-family: 'Fira Sans';
  line-height: 1.12;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  width: 50%;
  display: block;
  margin: 0 auto;
}

header .intro {
  padding: 100px 150px 50px 150px;
}

header .intro p {
  color: #fff;
  font-size: 1.4em;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

header .intro img {
  width: 10%;
  margin-bottom: 50px;
}

@media all and (max-width: 768px) {
  header h1 {
    width: 100%;
  }

  header .intro {
    padding: 0;
  }

  header .intro img {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  header .intro p {
    width: 100%;
    padding: 0 20px;
  }
}

@media all and (max-width: 1150px) {
  header .intro {
    padding: 0 0 50px 0;
  }

  header .intro p {
    width: 90%;
  }

  header .intro img {
    margin-top: 50px;
  }
}

.btn {
  margin: 30px 0;
  background-color: #fff;
  display: inline-block;
  color: #000;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
}

.btn-big {
  font-size: 21px;
}

.btn-red {
  color: #FF0039;
}

.btn-blue {
  color: #0A84FF;
}

.btn-orange {
  color: #FF9400;
}

#thunderclap-container {
  display: flex;
  justify-content: center;
  padding: 0px 50px 20px 50px;
}

#tweets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 20px 50px;
}

#tweets-examples-container {
  margin-top: 50px;
  display: flex;
  margin-bottom: 50px;
}

.tweet-container {
  height: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
  width: 33.33%;
  background-color: #000f40;
  color: #fff;
  padding: 20px 20px 20px 20px;
  margin-right: 20px;
  border-radius: 15px;
}

.tweet-container:nth-child(1) {
  background-color: #FF0039;
}

.tweet-container:nth-child(2) {
  background-color: #0A84FF;
}

.tweet-container:nth-child(3) {
  background-color: #FF9400;
  margin-right: 0;
}

.tweet-container p {
  flex-grow: 1;
}

.tweet-container .btn {
  width: 20%;
  margin: 0 auto;
  position: relative;
  bottom: 0px;
}

@media all and (max-width: 1150px) {
  #tweets-examples-container {
    flex-direction: column;
    align-items: center;
  }

  .tweet-container {
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }

  .tweet-container:last-child {
    margin-bottom: 0;
  }
}

footer {
  background:
    url('assets/fox.png') 100% -10% no-repeat;
  padding: 30px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  height: 300px;
}

footer .info {
  display: flex;
  flex-direction: column;
}

footer .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 75px;
  margin-bottom: 50px;
}

footer .links a {
  font-family: 'Fira Sans';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.3px;
  color: #fff;
  padding-top: 20px;
  margin-right: 20px;
  text-decoration: none;
}

footer .links a:hover {
  box-shadow: inset 0 -4px 0 #fff;
}

footer select {
  display: block;
  width: 25%;
  margin-bottom: 20px;
}

footer .footer-content {
  font-family: 'Fira Sans';
  font-size: 10px;
  letter-spacing: -0.2px;
  color: #ffffff;
  width: 100%;
}

footer .footer-content p {
  opacity: 0.5;
  width: 50%;
}

footer .footer-content a {
  text-decoration: none;
  color: inherit;
}

@media all and (max-width: 1150px) {
  footer {
    background-image: none;
    height: 100%;
  }

  footer select {
    min-width: 100px;
  }

  footer .info {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  footer .links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer .links a {
    margin-right: 0;
  }

  footer .links a:hover {
    box-shadow: none;
  }

  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mobile-only {
  display: none !important;
}

@media all and (max-width: 768px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }
}
