html, body {
  margin: 0;
  padding: 0;
}

html {
  background: url('assets/background.jpg');
  background-size: cover;
}

body {
  font-family: 'Fira Sans';
}

h1 {
  margin: 0;
  font-family: 'Zilla Slab';
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-bottom: 3em;
}

header h1 {
  text-align: center;
  color: #000;
  font-size: 5em;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 100px;
}

#container h1 {
  font-size: 3em;
}

#tweets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 100px 20px;
}

.tweet-container {
  display: flex;
  align-content: center;
  width: 40%;
  background-color: #000f40;
  color: #fff;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
}

.tweet-container button {
  margin-left: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #000;
}

footer a {
  color: #fff;
  text-decoration: none;
  padding-right: 30px;
}

footer a:hover {
  text-decoration: underline;
}
